.storybook-button {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
}

/* HEADER BUTTON TYPE */
.storybook-button--header {
  width: 246px;
  height: 90px;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  text-transform: uppercase;
  line-height: 38px;
  font-size: 26px;
  letter-spacing: 0.15em;
}
.storybook-button--header:hover {
  color: black;
  background-color: white;
  border: 1px solid white;
}

/* SECONDARY BUTTON TYPE */
.storybook-button--secondary {
  width: 308px;
  height: 100px;
  border: 1px solid white;
  color: black;
  background-color: white;
  font-size: 36px;
}

.storybook-button--secondary:hover {
  border: 1px solid black;
  color: white;
  background-color: black;
}

/* FAIRE UN DON BUTTON */
.storybook-button--large {
  color: white;
  background-color: #857878;
  font-size: 36px;
  width: 378px;
  height: 100px;
  border: 3px solid #BB2865;
}

.storybook-button--large:hover {
  color: black;
  background-color: #BB2865;
  border: 3px solid #857878;
}
