.storybook-button {
    cursor: pointer;
    display: inline-block;
}

.newsletter-div {
    display: flex;

}

.input-newsletter {
    font-family: 'Helvetica', sans-serif;
    height: 24px;
    width: 350px;
    font-size: 14px;
    margin: auto 8px;
    padding: 3px;
    letter-spacing: 0.10em;
}

.input-newsletter::placeholder {
    font-family: 'Helvetica', sans-serif;
    color: black;
    opacity: 0.55;
}

.btn-newsletter {
    padding: 8px 16px;
    color: black;
    background-color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24px;
    border: none;
}

.btn-newsletter:hover {
    color: black;
    background-color: white;
    font-size: 24px;
}

